@{
    ViewData["Title"] = "Home Page";
}

<style>
    .heads{
        margin-top:10%;
    }
</style>
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="container">
    <span class="icon-allianz-logo" style="font-size:40px;"></span>
    <div class="row heads">
        <div class="col-md-6 clo-sm-6">
            <div class="card">
                <a href="claims"><img class="card-img-top" src="~/images/claims.jfif" alt="Report Claims" /></a>

                <div class="card-body">
                    <h5 class="card-title"><a href="claims" class="btn btn-danger">Report Claims</a></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 clo-sm-6">
            <div class="card">
                <a href="proposals"><img class="card-img-top" src="~/images/proposals.png" alt="Get Proposals" /></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="proposals" class="btn btn-success">Get Proposals</a></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
